{
    "source": {
        "directories": [
            "src"
        ]
    },
    "timeout": 10,
    "logs": {
        "text": "build/infection-log.txt",
        "summary": "build/summary-log.txt",
        "debug": "build/debug-log.txt"
    },
    "tmpDir": "tmp",
    "phpUnit": {
        "configDir": ".",
        "customPath": "vendor/bin/phpunit"
    }
}
