parameters:
    polluteCatchScopeWithTryAssignments: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Ignore Prophecy mock stuff
        - '#Call to an undefined method Prophecy\\Prophecy\\ObjectProphecy::#'
